<?xml version="1.0"?>
<config>
  <modules>
    <Iunctim_SpecialSale>
      <version>0.1.0</version>
    </Iunctim_SpecialSale>
  </modules>
  <global>
    <helpers>
      <specialsale>
        <class>Iunctim_SpecialSale_Helper</class>
      </specialsale>
    </helpers>
    <blocks>
      <specialsale>
        <class>Iunctim_SpecialSale_Block</class>
      </specialsale>
    </blocks>
    <models>
      <specialsale>
        <class>Iunctim_SpecialSale_Model</class>
      </specialsale>
      <sales>
        <rewrite>
          <order_api>Iunctim_SpecialSale_Model_Order_Api</order_api>
        </rewrite>
      </sales>
    </models>
  </global>
  <frontend>
    <routers>
      <specialsale>
        <use>standard</use>
        <args>
          <module>Iunctim_SpecialSale</module>
         <frontName>specialsale</frontName>
        </args>
      </specialsale>
    </routers>
    <layout>
      <updates>
        <specialsale>
          <file>specialsale.xml</file>
        </specialsale>
      </updates>
    </layout>

  </frontend>
</config> 
